<header xmlns:th="http://www.thymeleaf.org"
        data-th-fragment="frag-entete">
    <section id="nav-title">
        <h1>
            <a data-th-text="ENI-Enchères" th:href="@{/encheres}"></a>
            <th:block
                    data-th-if="${membreEnSession != null && membreEnSession.id > 0}">
                <span data-th-text="'['+ ${membreEnSession.prenom}+']'"></span>
            </th:block>

        </h1>
        <div>
            <a href="#" onclick="history.back(); return false;"><img width="20px" th:src="@{/images/revenir.png}" alt="Revenir en arrière"></a>
            <a href="#" onclick="location.reload(); return false;"><img width="20px" th:src="@{/images/reload.png}" alt="Reload"></a>
            <a href="/?language=fr"><img alt="Français" src="/images/French.webp"></a>
            <a href="/?language=en"><img alt="English" src="/images/English.webp"></a>
        </div>
    </section>
    <nav>
        <!--               <ul>-->
        <!--                  <li><a href="/films" data-th-text="#{frag-entete.a.encheres}"></a></li>-->
        <!--                  <li></li>-->
        <!--                  &lt;!&ndash; Le lien n'est visible que si un membre est présent &ndash;&gt;-->
        <!--                  &lt;!&ndash; ET que le membre est un administrateur &ndash;&gt;-->
        <!--                  <th:block-->
        <!--                     data-th-if="${membreEnSession != null-->
        <!--                              && membreEnSession.id > 0 && membreEnSession.admin}">-->
        <!--                     <li><a href="/films/creer"-->
        <!--                        data-th-text="#{frag-entete.a.encheres}"></a></li>-->
        <!--                  </th:block>-->

        <!--                  <li><a href="/contexte" data-th-text="#{frag-entete.a.contexte}"></a></li>-->

        <!--               </ul>-->

        <ul>


            <!-- Affiche les liens uniquement si l'utilisateur est connecté -->
            <li sec:authorize="isAuthenticated()">
                <a href="/encheres">Enchères</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/article">Vendre un article</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/profil">Mon profil</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/gestionUtilisateur">Gestion Utilisateur</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/gestionCategorie">Gestion Categorie</a>
            </li>

            <li sec:authorize="!isAuthenticated()"><a href="/login" >Se connecter</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/register" >S'inscrire</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/logout" >Déconnexion</a></li>





        </ul>
    </nav>
</header>