.center-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px; /* Ajustez la largeur du conteneur selon vos besoins */
    margin: 0 auto;
    padding: 120px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 767px) {
    .center-main {
        max-width: 300px;
        padding: 80px;
    }
}
.row {
    display: flex;
    margin: 20px;
}

.col-md-6 {
    flex: 0 0 calc(50% - 10px); /* 50% de largeur - 10px d'espacement */
    max-width: calc(50% - 10px); /* 50% de largeur - 10px d'espacement */
    padding: 2px 40px 2px 2px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}
#delete {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Si vous souhaitez ajouter des styles supplémentaires ou des pseudo-classes */
#delete:hover {
    background-color: darkred;
}

.text-danger {
    color: #dc3545;
}
.error-message{
    color: red;
}

.form-group span {
    font-size: 14px;
}