<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-encheres(
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #resources-css})}">

<head>
    <!-- Accueil comme titre de page -->
    <title data-th-text="#{index.title}"></title>
    <th:block id="resources-css">
        <link rel="stylesheet" data-th-href="@{/css/encheres.css}"/>
    </th:block>
</head>
<body>
<main>
    <h1>Liste des enchères</h1>
    <div class="filters">
        <h2>Filtres :</h2>
        <form action="" method="get" class="filter-form">
            <div class="form-group">
                <br><input type="text" name="nomArticle" placeholder="Le nom de l'article contient" th:value="${param.nomArticle}">
            </div>
            <div class="form-group">
                <label>Catégorie :</label>
                <select name="categorie">
                    <option value="">Toutes</option>
                        <option th:each="categorieItem : ${categorie}" th:value="${categorieItem.getNoCategorie()}" th:text="${categorieItem.getLibelle()}"></option>
                </select>
            </div>
            <div class="form-group">
                <input type="radio" id="radioAchats" name="radio" value="achat">
                <label for="radioAchats">Achats</label>
                <input type="radio" id="radioVentes" name="radio" value="vente">
                <label for="radioVentes">Mes ventes</label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="enchereOuverte" name="checkboxAchats">
                <label for="enchereOuverte">enchères ouvertes</label>
                <input type="checkbox" id="mesEncheres" name="checkboxAchats">
                <label for="mesEncheres">mes enchères en cours</label>
                <input type="checkbox" id="mesEnchereRemportees" name="checkboxAchats">
                <label for="mesEnchereRemportees">mes enchères remportées</label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="mesVentesEnCours" name="checkboxVentes">
                <label for="mesVentesEnCours">mes ventes en cours</label>
                <input type="checkbox" id="ventesNonDebutees" name="checkboxVentes">
                <label for="ventesNonDebutees">ventes non débutées</label>
                <input type="checkbox" id="ventesTerminees" name="checkboxVentes">
                <label for="ventesTerminees">ventes terminées</label>
            </div>
            <button>Rechercher</button>
            <script>
                const radioAchats = document.getElementById('radioAchats');
                const radioVentes = document.getElementById('radioVentes');
                const checkboxVentes = document.querySelectorAll('[name="checkboxVentes"]');
                const checkboxAchats = document.querySelectorAll('[name="checkboxAchats"]');

                function updateCheckbox() {
                    const isAchatsSelected = radioAchats.checked;
                    const isVentesSelected = radioVentes.checked;
                    checkboxAchats.forEach(checkbox => {
                        checkbox.disabled = !isAchatsSelected;
                        if (!isAchatsSelected) {
                            checkbox.checked = false;
                        }
                    });
                    checkboxVentes.forEach(checkbox => {
                        checkbox.disabled = !isVentesSelected;
                        if (!isVentesSelected) {
                            checkbox.checked = false;
                        }
                    });
                }

                // Ajout d'un écouteur d'événement sur les radios
                radioVentes.addEventListener('change', updateCheckbox);
                radioAchats.addEventListener('change', updateCheckbox);

                // Appel de la fonction au chargement de la page
                updateCheckbox();
            </script>
        </form>
    </div>
    <div class="card-container">
        <div class="card" data-th-each="enchere : ${encheres}" th:if="${param.nomArticle == null or enchere.noArticle.getNomArticle().contains(param.nomArticle)}">
            <u><a th:href="@{/detailEnchere/${enchere.no()}}"><span data-th-text="${enchere.noArticle.getNomArticle()}"></span></a></u>
            <div><span>Prix : </span><span><span data-th-text="${enchere.montantEnchere}"></span> points</span></div>
            <div><span>Fin de l'enchère : </span><span data-th-text="${enchere.dateEnchere}"></span></div>
            <a th:href="@{'/profilEnchere?idUtilisateurEnchere=' + ${enchere.noUtilisateur.getNoUtilisateur()}}">
                <span>Vendeur : </span>
                <span data-th-text="${enchere.noUtilisateur.getNom()}"></span>
            </a>
            <img th:src="@{images/logoENI.png}" alt="">
        </div>
    </div>
</main>

</body>
</html>
