<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-encheres(
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #resources-css})}">

<head>
    <!-- Accueil comme titre de page -->
    <title data-th-text="#{index.title}"></title>
    <th:block id="resources-css">
        <link rel="stylesheet" data-th-href="@{/css/encheres.css}"/>
    </th:block>
</head>
<body>
<main>
    <h1>Liste des enchères</h1>
    <div class="filters">
        <h2>Filtres :</h2>
        <form action="" method="get" class="filter-form">
            <div class="form-group">
                <br><input type="text" name="nomArticle" placeholder="Le nom de l'article contient" th:value="${param.nomArticle}">
            </div>
            <div class="form-group">
                <label for="categorie">Catégorie :</label>
                <select id="categorie" name="categorie">
                    <option value="">Toutes</option>
                    <option th:each="categorieItem : ${categories}" th:value="${categorieItem.noCategorie}" th:text="${categorieItem.libelle}"></option>
                </select>
            </div>
            <div class="form-group">
                <input type="radio" id="radioAchats" name="radioAchats" value="radioAchats">
                <label for="radioAchats">Achats</label>
                <input type="radio" id="radioVentes" name="radioVentes" value="radioVentes">
                <label for="radioVentes">Mes ventes</label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="checkboxAchatsEnchereOuverte" name="enchereOuverte" th:checked="${enchereOuverte}">
                <label for="checkboxAchatsEnchereOuverte">enchères ouvertes</label>
                <input type="checkbox" id="checkboxAchatsMesEncheres" name="mesEncheres" th:checked="${mesEncheres}">
                <label for="checkboxAchatsMesEncheres">mes enchères en cours</label>
                <input type="checkbox" id="checkboxAchatsMesEnchereRemportees" name="mesEnchereRemportees" th:checked="${mesEnchereRemportees}">
                <label for="checkboxAchatsMesEnchereRemportees">mes enchères remportées</label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="checkboxVentesMesVentesEnCours" name="mesVentesEnCours" th:checked="${mesVentesEnCours}">
                <label for="checkboxVentesMesVentesEnCours">mes ventes en cours</label>
                <input type="checkbox" id="checkboxVentesVentesNonDebutees" name="ventesNonDebutees" th:checked="${ventesNonDebutees}">
                <label for="checkboxVentesVentesNonDebutees">ventes non débutées</label>
                <input type="checkbox" id="checkboxVentesVentesTerminees" name="ventesTerminees" th:checked="${ventesTerminees}">
                <label for="checkboxVentesVentesTerminees">ventes terminées</label>
            </div>
            <button>Rechercher</button>
            <script>
                const radioAchats = document.getElementById('radioAchats');
                const radioVentes = document.getElementById('radioVentes');

                const checkboxVentes1 = document.querySelectorAll('[id="checkboxVentesMesVentesEnCours"]');
                const checkboxVentes2 = document.querySelectorAll('[id="checkboxVentesVentesNonDebutees"]');
                const checkboxVentes3 = document.querySelectorAll('[id="checkboxVentesVentesTerminees"]');

                const checkboxAchats1 = document.querySelectorAll('[id="checkboxAchatsEnchereOuverte"]');
                const checkboxAchats2 = document.querySelectorAll('[id="checkboxAchatsMesEncheres"]');
                const checkboxAchats3 = document.querySelectorAll('[id="checkboxAchatsMesEnchereRemportees"]');

                function updateCheckbox() {
                    const isAchatsSelected = radioAchats.checked;
                    const isVentesSelected = radioVentes.checked;

                    checkboxAchats1.forEach(checkbox => {
                        checkbox.disabled = !isAchatsSelected;
                        if (!isAchatsSelected) {
                            checkbox.checked = false;
                        }
                    });

                    checkboxAchats2.forEach(checkbox => {
                        checkbox.disabled = !isAchatsSelected;
                        if (!isAchatsSelected) {
                            checkbox.checked = false;
                        }
                    });

                    checkboxAchats3.forEach(checkbox => {
                        checkbox.disabled = !isAchatsSelected;
                        if (!isAchatsSelected) {
                            checkbox.checked = false;
                        }
                    });

                    checkboxVentes1.forEach(checkbox => {
                        checkbox.disabled = !isVentesSelected;
                        if (!isVentesSelected) {
                            checkbox.checked = false;
                        }
                    });

                    checkboxVentes2.forEach(checkbox => {
                        checkbox.disabled = !isVentesSelected;
                        if (!isVentesSelected) {
                            checkbox.checked = false;
                        }
                    });

                    checkboxVentes3.forEach(checkbox => {
                        checkbox.disabled = !isVentesSelected;
                        if (!isVentesSelected) {
                            checkbox.checked = false;
                        }
                    });
                }

                // Ajout d'un écouteur d'événement sur les radios
                radioVentes.addEventListener('change', function() {
                    if (radioVentes.checked) {
                        radioAchats.checked = false; // Décocher le bouton radio Achats si Ventes est sélectionné
                        updateCheckbox();
                    }
                });
                radioAchats.addEventListener('change', function() {
                    if (radioAchats.checked) {
                        radioVentes.checked = false; // Décocher le bouton radio Ventes si Achats est sélectionné
                        updateCheckbox();
                    }
                });

                // Appel de la fonction au chargement de la page
                updateCheckbox();
            </script>
        </form>
    </div>
    <div class="card-container">
        <div class="card" data-th-each="article : ${article}" th:if="${param.nomArticle == null or article.nomArticle.contains(param.nomArticle)}">
            <u><a th:href="@{/detail(id=${article.noArticle})}"><span data-th-text="${article.getNomArticle()}"></span></a></u>
            <div><span>Prix : </span><span><span data-th-text="${article.getPrixInitial()}"></span> points</span></div>
            <div><span>Fin de l'enchère : </span><span data-th-text="${article.dateFinEncheres}"></span></div>
            <a th:href="@{/profilEnchere}"><span>Vendeur : </span><span data-th-text="${article.getUtilisateur().getNom()}"></span></a>
            <img th:src="@{images/logoENI.png}" alt="">
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var votreJson = /*[[${votreJson}]]*/ '[]'; // Accédez à votre JSON
        // Maintenant vous pouvez manipuler votreJson comme vous le souhaitez
        console.log(votreJson);
        /*]]>*/
    </script>
</main>

</body>
</html>
