<!DOCTYPE html>
<!-- Mise en place du layout -->
<!-- Accueil comme titre de page -->
<!-- la balise main définit par la classe de CSS 'center-main' comme paramètre contenuPage -->
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-encheres(
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{::#resources-css})}">

<head>
    <!-- Accueil comme titre de page -->
    <title data-th-text="#{index.title}"></title>
    <th:block id="resources-css">
        <link rel="stylesheet" data-th-href="@{/css/login.css}">
    </th:block>

</head>
<body>
<main class="center-main">
    <div className='login-box'>
        <h2>Bienvenue sur ENI Demo </h2>
        <form th:action="@{/login}"  method="post">
            <div className="div_Input">
                <ul class="flex-outer">
                    <li><label for="inputNom"></label>
                        <br />
                        <input className="Login"
                               type="text" name="username" id="inputNom" required placeholder="Votre Nom d'utilisateur"
                        /></li>
                    <li><label for="inputPassword"></label>
                        <br />
                        <input type="password" className="Login" placeholder="Votre Mot de passe"
                               name="password" id="inputPassword" required  />
                    </li>
                    <li data-th-if="${errorMessage}" data-th-text="${errorMessage}" class="error-message"></li>
                </ul>
                <button type="submit" name="SeConnecter" className='login-button' >
                    Se Connecter
                </button>
                <p th:if="${loginError}" class="error">Informations incorrect</p>
                <span>Pas encore inscrit ? <a th:href="@{/register}">S'inscrire ici</a></span>
            </div>

        </form>

    </div>
</main>
</body>
</html>
