<!DOCTYPE html>
<!-- Mise en place du layout -->
<!-- Accueil comme titre de page -->
<!-- la balise main définit par la classe de CSS 'center-main' comme paramètre contenuPage -->
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-encheres(
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{})}">

<head>
    <!-- Accueil comme titre de page -->
    <title data-th-text="#{index.title}"></title>
</head>
<body>
<main class="center-main">
    <section class="center-section">
        <div>
            <!-- Affichage des informations de l'utilisateur -->
            <p>Nom: <span th:text="${UtilisateurEnSession.nom}"></span></p>
            <p>Prénom: <span th:text="${UtilisateurEnSession.prenom}"></span></p>
            <p>Email: <span th:text="${UtilisateurEnSession.email}"></span></p>
            <!-- Ajoutez d'autres informations de l'utilisateur si nécessaire -->
        </div>

    </section>
</main>
</body>
</html>
