<!DOCTYPE html>
<!-- Mise en place du layout -->
<!-- Accueil comme titre de page -->
<!-- la balise main définit par la classe de CSS 'center-main' comme paramètre contenuPage -->
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-encheres(
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{::#resources-css})}">

<head>
    <!-- Accueil comme titre de page -->
    <title data-th-text="#{index.title}"></title>
    <th:block id="resources-css">
        <link rel="stylesheet" data-th-href="@{/css/login.css}">
    </th:block>
</head>
<body>
<main class="center-main">
    <section class="center-section">
        <form method="post" role="form" th:action="@{/profilEdit}" th:object="${userEdit}">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input class="form-control" id="pseudo" name="pseudo"  th:value="${userEdit.pseudo}" type="text"/>
                    <p th:errors="*{pseudo}" class="text-danger" th:if="${#fields.hasErrors('pseudo')}"></p>
                </div>
                <div class="col-md-6 mb-3">
                    <input class="form-control" id="nom" name="nom"  th:value="${userEdit.nom}" type="text"/>
                    <p th:errors="*{nom}" class="text-danger" th:if="${#fields.hasErrors('nom')}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input class="form-control" id="prenom" name="prenom"  th:value="${userEdit.prenom}" type="text"/>
                    <p th:errors="*{prenom}" class="text-danger" th:if="${#fields.hasErrors('prenom')}"></p>
                </div>
                <div class="col-md-6 mb-3">
                    <input class="form-control" id="email" name="email"  th:value="${userEdit.email}" type="text"/>
                    <p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input class="form-control" id="telephone" name="telephone"   th:value="${userEdit.telephone}" type="text"/>
                    <p th:errors="*{telephone}" class="text-danger" th:if="${#fields.hasErrors('telephone')}"></p>
                </div>
                <div class="col-md-6 mb-3">
                    <input class="form-control" id="rue" name="rue"  th:value="${userEdit.rue}" type="text"/>
                    <p th:errors="*{rue}" class="text-danger" th:if="${#fields.hasErrors('rue')}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input class="form-control" id="codePostal" name="codePostal"  th:value="${userEdit.codePostal}" type="text"/>
                    <p th:errors="*{codePostal}" class="text-danger" th:if="${#fields.hasErrors('codePostal')}"></p>
                </div>
                <div class="col-md-6 mb-3">
                    <input class="form-control" id="ville" name="ville"   th:value="${userEdit.ville}" type="text"/>
                    <p th:errors="*{ville}" class="text-danger" th:if="${#fields.hasErrors('ville')}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input class="form-control" name="motDePasseActuel" type="password"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input class="form-control" id="motDePasseNouveau" name="motDePasseNouveau"  type="text"/>
                </div>
                <div class="col-md-6 mb-3">
                    <input class="form-control" id="motDePasseNouveauConfirm" name="motDePasseNouveauConfirm" type="text"/>
                </div>
            </div>
            <label for="credit">Crédit :</label>
            <p name="credit" id="credit" th:text="${userEdit.credit}" ></p>

            <input class="form-control" id="noUtilisateur" name="noUtilisateur"  th:value="${userEdit.noUtilisateur}" type="hidden"/>
            <input class="form-control" id="motDePasse" name="motDePasse"  th:value="${userEdit.motDePasse}" type="hidden"/>
            <div class="form-group">
                <a th:href="@{'/acheterCredits'}" class="btn btn-primary" >Acheter des crédits</a>
                <button class="btn btn-primary" type="submit">Modifier mes informations</button>
                <a th:href="@{'/deleteUtilisateur?idUtilisateur=' + ${userEdit.noUtilisateur}}" class="btn btn-primary" id="delete" >Supprimer mon compte</a>
            </div>
        </form>
    </section>
</main>
</body>
</html>
