<!DOCTYPE html>
<!-- Mise en place du layout -->
<!-- Accueil comme titre de page -->
<!-- la balise main définit par la classe de CSS 'center-main' comme paramètre contenuPage -->
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-encheres(
                titrePage=~{:: title},
                contenuPage=~{:: main},
                ressourcesSupp=~{::#resources-css})}">

<head>
    <!-- Accueil comme titre de page -->
    <title data-th-text="#{index.title}"></title>
    <th:block id="resources-css">
        <link rel="stylesheet" data-th-href="@{/css/login.css}">
    </th:block>

</head>
<body>
<main class="center-main">
    <div>
        <h2>Réinisialiser votre mot de passe</h2>
    </div>

    <form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
        <input type="hidden" name="token" th:value="${token}" />
        <div class="border border-secondary rounded p-3">
            <div>
                <p>
                    <input type="password" name="password" id="password" class="form-control"
                           placeholder="Entrez votre nouveau mot de passe" required autofocus />
                </p>
                <p>
                    <input type="password" class="form-control" placeholder="Confirmez votre nouveau mot de passe"
                           required oninput="checkPasswordMatch(this);" />
                </p>
                <script>
                    function checkPasswordMatch(fieldConfirmPassword) {
                        if (fieldConfirmPassword.value != document.getElementById("password").value) {
                            fieldConfirmPassword.setCustomValidity("Les mots de passe ne correspondent pas !");
                        } else {
                            fieldConfirmPassword.setCustomValidity("");
                        }
                    }
                </script>
                <p class="text-center">
                    <input type="submit" value="Changer de mot de passe" class="btn btn-primary" />
                </p>
            </div>
        </div>
    </form>

</main>
</body>
</html>